<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/opeyemi.gbadamosi/workspace/Deydam"><classes><class name="testDashboard.DashboardTests"><methods><include name="testDashboard"/></methods></class><class name="testLogin.LoginTest"><methods><include name="testSuccessfulLogin"/></methods></class></classes></test></suite>